{% extends "base.html" %}
{% import "_wtf.html" as wtf %}

{% block title %}编辑友链 | {{super()}}{% endblock %}

{% block header %}
    {% block nav %}
    {{super()}}
    {% endblock %}
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h2>编辑友链</h2>
    {% if user %}
    <a href="{{url_for('auth.delete_friend', id=user.id)}}">
        <i class="material-icons">delete</i>删除该友链
    </a>
    {% endif %}
</div>
<div class="col-md-4">
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}
